<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="Request Header Parser Microservice - Free Code Camp Back-End Project #2">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Welcome to my Request Header Parser Microservice API
      </h1>
    </header>

    <main>
      <p class="bold">
        by <a href = "https://atalero.github.io/" target="blank">Andres Talero</a>
      </p>
      <p>
      Call the API at<strong> https://header-parser-andres.glitch.me/api</strong> to receive an object containing the IP adress, language, and operating system of your browser
      </p>
    </main>
  </body>
</html>
